<div class="container">

  
  <!-- <div *ngIf="usuarioForm.invalid && usuarioForm.submitted" class="alert alert-danger">
    Preencha todos os campos corretamente
  </div> -->

  <div *ngIf="usuarioForm.invalid" class="alert alert-danger">
    Preencha todos os campos corretamente
  </div>

  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" required minlength="10"  #nome="ngModel">

      <div *ngIf="nome.hasError('required') && nome.touched" style="color: red">Informe um nome.</div>
      <div *ngIf="nome.hasError('minlength') && nome.dirty" style="color: red">O nome deve ser completo.</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email" required email #email="ngModel">

      <div *ngIf="email.hasError('required') && email.touched" style="color: red">Informe um e-email.</div>
      <div *ngIf="email.hasError('email') && email.dirty" style="color: red">Informe um e-email valido.</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao.codigo">{{profissao.descricao}}</option>
        
      </select>

      <div *ngIf="profissao.hasError('required') && profissao.touched" style="color: red">Informe uma profissão.</div>
    </div>

    <button [disabled]="!usuarioForm.valid"  type="submit" class="btn btn-primary">Salvar</button>
  </form>

</div>
